/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: auto; 
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }

header h1 {
    color: #3b3b3b;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#encryptBtn {
    background-color: #007bff;
    color: white;
}

#decryptBtn {
    background-color: #6c757d;
    color: white;
}

.output {
    margin-bottom: 20px;
    text-align: center;
}

#outputText {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: none; /* Oculto por defecto */
}

.output-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
  }

  #outputImage {
    width: 100px;
    margin-bottom: 10px; 
  }

#copyBtn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
}
